/* @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-mainColor: #1A6C37;
    --color-backGroundColor: #EAEBEAE5;
    --color-secondBackGroundColor: #79C04352;
    --color-lightseagreen: #6EAF8599;
    --color-secondaryColor: #B49C5C;
    --color-textColor: #2C3E50;
    --color-paragraphTextColor: #6D6D6D;
    --color-secondaryTextColor: #E3CB89;
    --color-borderColor: #D0D0D0;

    --breakpoint-xmd: 896px;
    --breakpoint-xlg: 1050px;
}


/* src/index.css أو App.css */
body {
    direction: rtl;
    text-align: right;
    /* font-family: 'Tajawal', 'sans-serif'; */
    font-family: 'Cairo', 'sans-serif';
}  

.star-rating {
    color: transparent;
    background: linear-gradient(90deg,
            gold var(--rating-percent),
            lightgray var(--rating-percent));
    -webkit-background-clip: text;
    background-clip: text;
}

.backgroundLinear {
    background: linear-gradient(to bottom right,
            #26A151,
            #1A6C37);
    color: white;
}

.parallax{
    background-image: url("../src/assets/logo/main-photo.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 85dvh;
}